@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.4);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: white;
    text-decoration: none;
}

.cart i {
    vertical-align: bottom; /*?something???*/
    font-size: 20px; 
    padding-right: 5px;
}

.cart a {
    background-color: red;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

img {
    width: 20%;
}

.add-cart {
   text-decoration: none;
   font-size: 25px;
    width: 20%;
    color: red;
    background-color: rgb(255, 244, 160);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    cursor: pointer;
    text-align: center;
}
.cart1, .cart2, .cart3, .cart4 {
    border: 1px solid black;
}

/* CATR PAGE */
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 30%;
}

.price {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0 10px;
    justify-content: center;
    font-weight: bold;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
} 

.products {
    display: flex;
    flex-direction: column;
}